In [1]:
import pandas as pd
import numpy as np

### Reading files

In [2]:
deliveries_df = pd.read_csv("data/deliveries_formatted.csv")
matches_df = pd.read_csv("data/matches_formatted.csv")
ball_matches_df = pd.read_csv("data/ball_matches.csv")

C:\Users\n.sundaramahalingam\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

# Team Analysis

### Selection

In [5]:
# matches_df.head(3)

In [3]:
pd.set_option('display.max_columns', None)

### team winning rate

In [4]:
team1 = matches_df.groupby('team1')['team1'].count()
team2 = matches_df.groupby('team2')['team2'].count()

team_matches = pd.DataFrame(team1 + team2).reset_index()

In [21]:
# team_matches

In [5]:
team_wins = pd.DataFrame(matches_df[matches_df.result == 'normal'].groupby('winner').agg(no_of_won=('winner','count'))).reset_index()

In [6]:
team_matches_wins = pd.merge(team_matches, team_wins, left_on='team1', right_on='winner')

In [7]:
team_matches_wins.head()

  team1    0 winner  no_of_won
0   CSK  164    CSK        100
1    DD  177     DD         76
2    GL   30     GL         13
3   KKR  178    KKR         92
4   KTK   14    KTK          6

In [8]:
team_matches_wins['winning_rate%'] = team_matches_wins['no_of_won']/team_matches_wins[0]

In [9]:
team_matches_wins.drop(columns = ['winner'], inplace=True)

In [10]:
team_matches_wins.rename(columns={"team1": "team", 0: "no_of_matches"}, inplace=True)

In [12]:
# team_matches_wins.sort_values(by='winning_rate%', ascending=False)

### team wise batsman highest run

In [13]:
matches_batsman_run = ball_matches_df.groupby(['match_id','batting_team', 'batsman']).agg({'batsman_runs':'sum'}).reset_index()

In [17]:
# matches_batsman_run

In [21]:
# matches_batsman_run.head(20)

In [18]:
ids = matches_batsman_run.groupby(['match_id','batting_team'])['batsman_runs'].transform(max) == matches_batsman_run['batsman_runs']

In [19]:
matches_batsman_run[ids].sort_values(by='batsman_runs', ascending=False)

       match_id batting_team         batsman  batsman_runs
6196        411          RCB        CH Gayle           175
898          60          KKR     BB McCullum           158
8435        562          RCB  AB de Villiers           133
10147      7935           DD         RR Pant           130
9268        620          RCB  AB de Villiers           129
...         ...          ...             ...           ...
1814        119           RR     T Henderson            11
1811        119           RR       RA Jadeja            11
398          27          RCB       KM Jadhav             9
8564        571          RCB         V Kohli             1
8563        571          RCB        CH Gayle             1

[1545 rows x 4 columns]

In [22]:
# matches_batsman_run_max =  matches_batsman_run[ids].sort_values(by='batsman_runs', ascending=False)

In [25]:
# matches_batsman_run_max

In [24]:
idx = matches_batsman_run_max.groupby(['batting_team'])['batsman_runs'].transform(max) == matches_batsman_run_max['batsman_runs']

In [27]:
# matches_batsman_run_max[idx].sort_values(by='batsman_runs', ascending=False)

### team wise bowler highest wickets

In [28]:
matches_bowler_wicket = ball_matches_df[ball_matches_df.dismissal_kind.isin(['caught', 'bowled', 'lbw', 'caught and bowled', 'hit wicket'])].groupby(['match_id','bowling_team', 'bowler']).agg({'dismissal_kind':'count'}).reset_index()

In [35]:
# matches_bowler_wicket.head(20)

In [30]:
ids = matches_bowler_wicket.groupby(['match_id','bowling_team'])['dismissal_kind'].transform(max) == matches_bowler_wicket['dismissal_kind']

In [31]:
matches_bowler_wicket_max = matches_bowler_wicket[ids].sort_values(by='dismissal_kind', ascending=False)

In [32]:
idx = matches_bowler_wicket_max.groupby(['bowling_team'])['dismissal_kind'].transform(max) == matches_bowler_wicket_max['dismissal_kind']

In [38]:
# matches_bowler_wicket_max[idx].sort_values(by=['dismissal_kind','bowling_team'], ascending=False)